{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todo_app/styles.css' %}">

</head>
<body>
    <h1>Task List</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <h3>{{ task.title }} {% if task.completed %}(Completed){% endif %}</h3>
                <p>{{ task.description }}</p>
                <a href="{% url 'edit_task' task.id %}"><b><i>Edit</i></b></a>
                <a href="{% url 'delete_task' task.id %}"><b><i>Delete</i></b></a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_task' %}"><b>Add Task</b></a>
</body>
</html>
